.box-login{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.box-content-login{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    border-radius: 20px;
    min-height: 90vh;
    height: 100%;
}
.img-login{
    width: 40%;
}
.title-login{
    padding: 0px 0 26px 0;
    font-size: 24px;
    color: #1a1a1a;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}
.title-big-login{
    margin-bottom: 8px;
    font-size: 14px;
    color: #1a1a1a;
}
.form-register-item-input{
    padding: 4px 11px;
    border-radius: .25rem;
    border: 1px solid rgb(192 192 192/1);
    font-size: 14px;
    outline: unset;
    height: 2.5rem;
}
.btn-register{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
    background-color: #F9471B;
    padding: 10px 15px;
    border: none;
    outline: unset;
    font-weight: 500;
    border-radius: .25rem;
    margin-top: 20px;
}
.line-header-login{
    display: none;
}
@media (max-width: 1200px) {
    .box-header {
        display: flex;
    }
    .box-login{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 768px) {
    .box-header {
        display: none;
    }
    .img-login{
        display: none;
    }
    .box-content-login{
        width: 100%;
    }
    .box-login{
        margin-top: 40px;
    }
    .line-header-login{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .title-login {
        padding-top: 20px;
    }
    }
@media (max-width: 600px) {
    .box-content-login{
        padding: 15px;
    }
    .box-login{
        min-height: 100vh;
        height: 100%;
        margin-top: 0px;
    }
    .title-login{
        font-size: 19px;
    }
}
